Source: asus-fanmode
Section: Utilities
Priority: optional
Maintainer: James Turton <james@somecomputer.xyz>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://github.com/leonmaxx/asus_fanmode

Package: asus-fanmode
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: asus_fanmode is a daemon that controls Fan Boost Mode on ASUS TUF
 series laptops.
